
    body{
        background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQWVZAC4mXGUViKb4pTFaJ3RqeB6Y_Vj4nsjv_4Zmq-duXFw5z5');
    background-repeat:no-repeat;
    background-size: cover;
    height:450px;
    width:1400px;
    }