<table  class="table table-hover table-sm" >
    <thead class="thead-light">  
        <tr>  
            <th> Id</th> 
            <th>STOCKEXCHANGE</th>  
            <th>BRIEF</th>  
            <th>CONTACTADDRESS</th>  
            <th>REMARKS</th>  
             
        </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let manageexchange of manageexchangeList">  
           <td>{{manageexchange.id}}</td>  
           <td>{{manageexchange.stockExchange}}</td>  
           <td>{{manageexchange.brief}}</td>  
           <td>{{manageexchange.contactAddress}}</td>  
           <td>{{manageexchange.remarks}}</td>  
             
           </tr>
           </tbody>
</table>

